@use "./grid/grid";
@use "./theme/theme";
@use "./button/button";

$primary: #0d6efd;
$secondary: #6c757d;
$white: #fff;
$black: #000;
$gutter-width: 1.5rem;

  body {
      background-color: var(--bg-color);
      color: var(--text-color);
      font-family: Arial, sans-serif;
      transition: all 0.3s ease;
    }