@use "variables" as v;
@use "sass:color";
@use "sass:math";
@use "sass:map";
@use "../colors/function" as colorFunction;
@use "../grid/variables" as gridVariable;

@mixin table-variant($state, $background) {
    .table-#{$state} {
        $color: colorFunction.color-contrast(colorFunction.opaque(v.$body-bg, $background));
        $hover-bg: color.mix($color, $background, math.percentage(v.$table-hover-bg-factor));
        $striped-bg: color.mix($color, $background, math.percentage(v.$table-striped-bg-factor));
        $active-bg: color.mix($color, $background, math.percentage(v.$table-active-bg-factor));
        $table-border-color: color.mix($color, $background, math.percentage(v.$table-border-factor));

        --table-color: #{$color};
        --table-bg: #{$background};
        --table-border-color: #{v.$table-border-color};
        --table-striped-bg: #{$striped-bg};
        --table-striped-color: #{colorFunction.color-contrast($striped-bg)};
        --table-active-bg: #{$active-bg};
        --table-active-color: #{colorFunction.color-contrast($active-bg)};
        --table-hover-bg: #{$hover-bg};
        --table-hover-color: #{colorFunction.color-contrast($hover-bg)};

        color: var(--table-color);
        border-color: var(--table-border-color);
    }
}

@function breakpoint-min($name, $breakpoints: gridVariable.$grid-breakpoints) {
    $min: map.get($breakpoints, $name);
    @return if($min !=0, $min, null);
}

@function breakpoint-infix($name, $breakpoints: gridVariable.$grid-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints)==null, "", "-#{$name}");
}

@mixin media-breakpoint-down($name, $breakpoints: gridVariable.$grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@function breakpoint-max($name, $breakpoints: gridVariable.$grid-breakpoints) {
    $max: map.get($breakpoints, $name);
    @return if($max and $max > 0, $max - .02, null);
}