@use "variables" as v;
@use "mixin" as m;
@use "sass:map";
@use "../grid/variables" as gridVariable;
.table {
  --table-color-type: initial;
  --table-bg-type: initial;
  --table-color-state: initial;
  --table-bg-state: initial;
  --table-color: #{v.$table-color};
  --table-bg: #{v.$table-bg};
  --table-border-color: #{v.$table-border-color};
  --table-accent-bg: #{v.$table-accent-bg};
  --table-striped-color: #{v.$table-striped-color};
  --table-striped-bg: #{v.$table-striped-bg};
  --table-active-color: #{v.$table-active-color};
  --table-active-bg: #{v.$table-active-bg};
  --table-hover-color: #{v.$table-hover-color};
  --table-hover-bg: #{v.$table-hover-bg};

  width: 100%;
  margin-bottom: v.$spacer;
  vertical-align: v.$table-cell-vertical-align;
  border-color: var(--table-border-color);

  > :not(caption) > * > * {
    padding: v.$table-cell-padding-y v.$table-cell-padding-x;
    color: var(--table-color-state, var(--table-color-type, var(--table-color)));
    background-color: var(--table-bg);
    border-bottom-width: v.$table-border-width;
    box-shadow: inset 0 0 0 9999px var(--table-bg-state, var(--table-bg-type, var(--table-accent-bg)));
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }
}

.table-group-divider {
  border-top: calc(#{v.$table-border-width} * 2) solid v.$table-group-separator-color; 
}

.caption-top {
  caption-side: top;
}

.table-sm {
  > :not(caption) > * > * {
    padding: v.$table-cell-padding-y-sm v.$table-cell-padding-x-sm;
  }
}

.table-bordered {
  > :not(caption) > * {
    border-width: v.$table-border-width 0;
    > * {
      border-width: 0 v.$table-border-width;
    }
  }
}

.table-borderless {
  > :not(caption) > * > * {
    border-bottom-width: 0;
  }

  > :not(:first-child) {
    border-top-width: 0;
  }
}

.table-striped {
  > tbody > tr:nth-of-type(#{v.$table-striped-order}) > * {
    --table-color-type: var(--table-striped-color);
    --table-bg-type: var(--table-striped-bg);
  }
}

.table-striped-columns {
  > :not(caption) > tr > :nth-child(#{v.$table-striped-columns-order}) {
    --table-color-type: var(--table-striped-color);
    --table-bg-type: var(--table-striped-bg);
  }
}

.table-active {
  --table-color-state: var(--table-active-color);
  --table-bg-state: var(--table-active-bg);
}

.table-hover {
  > tbody > tr:hover > * {
    --table-color-state: var(--table-hover-color);
    --table-bg-state: var(--table-hover-bg);
  }
}

@each $color, $value in v.$table-variants {
  @include m.table-variant($color, $value);
}

@each $breakpoint in map.keys(gridVariable.$grid-breakpoints) {
  $infix: m.breakpoint-infix($breakpoint, gridVariable.$grid-breakpoints);

  @include m.media-breakpoint-down($breakpoint) {
    .table-responsive#{$infix} {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
