@use "../colors/palette" as p;
@use "../colors/function" as f;
$body-bg: p.$white !default;
$body-emphasis-color:       p.$black !default;
$emphasis-color:            #{$body-emphasis-color};
$emphasis-color-rgb:        #{to-rgb($body-emphasis-color)};
$spacer: 1rem !default;
$primary:       p.$blue !default;
$secondary:     p.$gray-600 !default;
$success:       p.$green !default;
$info:          p.$cyan !default;
$warning:       p.$yellow !default;
$danger:        p.$red !default;
$light:         p.$gray-100 !default;
$dark:          p.$gray-900 !default;
$table-cell-padding-y:        .5rem !default;
$table-cell-padding-x:        .5rem !default;
$table-cell-padding-y-sm:     .25rem !default;
$table-cell-padding-x-sm:     .25rem !default;

$table-cell-vertical-align:   top !default;

$table-color:                 var(--#{$emphasis-color}) !default;
$table-bg:                    var(--body-bg) !default;
$table-accent-bg:             transparent !default;

$table-th-font-weight:        null !default;

$table-striped-color:         $table-color !default;
$table-striped-bg-factor:     .05 !default;
$table-striped-bg:            rgba(var(--#{$emphasis-color-rgb}), $table-striped-bg-factor) !default;

$table-active-color:          $table-color !default;
$table-active-bg-factor:      .1 !default;
$table-active-bg:             rgba(var(--#{$emphasis-color-rgb}), $table-active-bg-factor) !default;

$table-hover-color:           $table-color !default;
$table-hover-bg-factor:       .075 !default;
$table-hover-bg:              rgba(var(--#{$emphasis-color-rgb}), $table-hover-bg-factor) !default;

$table-border-factor:         .2 !default;
$table-border-width:          var(--border-width) !default;
$table-border-color:          var(--border-color) !default;

$table-striped-order:         odd !default;
$table-striped-columns-order: even !default;

$table-group-separator-color: currentcolor !default;

$table-caption-color:         var(--secondary-color) !default;

$table-bg-scale:              -80% !default;

$table-variants: (
  "primary":    f.shift-color($primary, $table-bg-scale),
  "secondary":  f.shift-color($secondary, $table-bg-scale),
  "success":    f.shift-color($success, $table-bg-scale),
  "info":       f.shift-color($info, $table-bg-scale),
  "warning":    f.shift-color($warning, $table-bg-scale),
  "danger":     f.shift-color($danger, $table-bg-scale),
  "light":      $light,
  "dark":       $dark,
) !default;