@use "variables" as v;
@use "mixins" as m;
.container {
    width: 100%;
    padding-left: v.$grid-gutter;
    padding-right: v.$grid-gutter;
    margin-left: auto;
    margin-right: auto;
  
    @each $breakpoint, $value in v.$grid-breakpoints {
      @if $value != 0 {
        @include m.media-breakpoint-up($breakpoint) {
          max-width: $value;
        }
      }
    }
  }
  
  .container-fluid {
    width: 100%;
    padding-inline: v.$grid-gutter;
    margin-inline: auto;
    display: block;
  }